version: 2

jobs:
  build-bazel:
    docker:
      - image: nixos/nix
    working_directory: ~/sparkle
    resource_class: large
    environment:
      - NIXRUN: nix-shell --pure --run
    steps:
      - checkout
      - run:
          name: Install system dependencies
          command: |
            apk --no-progress update
            apk --no-progress add ca-certificates bash
            $NIXRUN "echo nix dependencies installed"
      - run:
          name: Build project
          command: $NIXRUN "bazel build //..."
      - run:
          name: Test hello example
          command: |
              $NIXRUN "bazel run hello-java"
              $NIXRUN "bazel run clotestbin"
              $NIXRUN "bazel run clotestbin-cc"

workflows:
  version: 2
  build:
    jobs:
      - build-bazel
